{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Proyectos de grado</h1>
        <p class="lead">Para agilizar el proceso de aprobación y financiamiento de los proyectos de grado de la facultad de ingeniería, se ha desarrollado este gestor de proyectos donde podrás conocerlos todos a detalle y ver a cual quieres apoyar.</p>
        <p class="lead">
            <a href="projects" class="btn btn-lg btn-secondary fw-bold border-white bg-gradient">Conoce todos los proyectos</a>
        </p>
    </main>
</div>{% endblock %}